/* src/App.css */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.App-header {
  width: 100%;
  background-color: #ffc0cb;
  padding: 1px; /* Reduced padding to make the header thinner */
  text-align: center;
  color: white;
  font-size: 2em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.App {
  padding-top: 60px; /* Adjusted to account for the new header height */
  text-align: center;
}

.carousel-container {
  margin: 20px auto;
  width: 100%;
}

.product-carousel .react-multi-carousel-item {
  display: flex;
  justify-content: center;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  max-width: 250px;
  margin: auto;
}

.product-card img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.product-info {
  text-align: left;
  margin-top: 10px;
}

.sizes button {
  margin: 5px;
  padding: 5px 10px;
}

.product-card button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ff69b4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #ff1493;
}
